src/main/mule/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="21755c02-38c2-44e2-aecb-7face7c7dd67" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demoFlow" doc:id="f7b8df9b-09f1-420a-99b8-acc1e428b00b" >
		<http:listener doc:name="Listener" doc:id="95bb949c-58d3-497b-a717-258a5cad0b01" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='"Welcome to mule world"' doc:name="Set Payload" doc:id="4cf88cb6-234b-4e9d-b813-181a36b75f19" />
		<logger level="INFO" doc:name="Logger" doc:id="59f09a9a-c6eb-4022-8bfd-13018049f8e1" message="#[payload]"/>
	</flow>
	
</mule>
